img{
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 1px solid #000;
}
.discountPrice{
    color: green;
    font-size: 18px;
    padding-left: 40px;
}
.applied {
    text-decoration: line-through;
}

.offer{
    font-size: 18px;
    margin-left: 10px;
}

.btn-space{ 
    margin-right: 10px;
}

.color {
    color: black;
}